@charset 'utf-8';

@import url(/css/iconbar.css);
@import url(/css/home.css);
@import url(/css/home2.css);
@import url(/css/home3.css);

/* ana balklar */

html, body { height: 100%; }

html, body, div, p, h2, h3, span, a, form, img, ul, ol, li{
color: #000; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; border: none; 
}
html, body {
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size:11px;
}

body { margin: 4px; background-color: #fff;  z-index: 0; }

h1 {
font-family: verdana, arial, helvetica, geneva, sans-serif;
color: #000; margin: 0px;padding: 0px; border: none;
font-size:11px;
font-weight:normal;

}

.headline h1{
font-size:15px;
font-weight:bold;
color:#036;
margin: 0;
}


.mehr { margin-bottom: 5px; }
a:link, a:visited {text-decoration: none; color: #036; outline: none; }
a:hover, a.mehr:hover {text-decoration: underline; color: #369; outline: none;  }
a.mehr, .mehr, .bl-b {font-size:11px; font-weight: bold; color: #036;}
a.blk, .blk {color: #000;}
a.blk-b, .blk-b {color: #000;font-weight: bold;}
a.red {color: #f00;}
a.small {font-size:10px;}



a.forum:link {text-decoration: none; color: #5a8dc0;}
a.forum:visited {text-decoration: none; color: #5a8dc0;}
a.forum:hover {text-decoration: underline;}
a.ext:link {background: url(/images/as/ext_link.gif) right center no-repeat; padding-right: 13px; text-decoration: none; color: #036; border-bottom: dashed 1px;}
a.ext:visited {background: url(/images/as/ext_link.gif) right center no-repeat; padding-right: 13px; text-decoration: none; color: #333; border-bottom: dashed 1px;}
a.ext:hover {background: url(/images/as/ext_link.gif) right center no-repeat; text-decoration: none;  padding-right: 13px; color: #990000; border-bottom: solid 1px;}

a.blk-bl {color: #000;}
a:hover.blk-bl {color: #036;}


a.head  {font-size: 13px;}

strong {font-weight: bold;}
.c {clear: both;}
.top {vertical-align: top;}
.center {text-align: center;}
.right {text-align: right;}
img {border: 0;}
a img {	border-style: none;}


.background-link {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}



.overflow, .overflow165px, .overflow388px, .overflow468px, .overflow340px { overflow:hidden; }
.overflow165px { width: 165px; }
.overflow388px { width: 388px; }
.overflow468px { width: 468px; }
.overflow340px { width: 336px; }

/* yeni header */

#chip {

background-color:#fff;
width: 828px;
float: left;
border-right: 1px solid #000;
padding-bottom: 0px;
}

#wrapper-header{
margin-top: 4px;
width: 100%;
background: url(/images/as/he-v1-bg.gif) left top repeat-x;
}

#wrapper-header_v1{
width: 100%;
background: url(/images/as/he-top-bg.gif) left top repeat-x;
}

#he-v1-header{
width: 828px;
height: 101px;
}

#he-v1-header_v1{
width: 828px;
min-height: 74px;
}


#he-v1-nav, #he-v1-nav ul {
float: right;
font-size:13px;
font-weight:bold;
color: #000;
list-style: none;
line-height: 1.1;
z-index: 9999;
}


#he-v1-nav a {
display: block;
padding: 5px 20px;
color: #000;
font-size:11px;
border-right: 1px solid #aaa;
}

#he-v1-nav li {
float: left;
padding: 0;
}


#he-v1-nav li ul {
position: absolute;
width: 164px;
left: -999em;
background: #026;
padding: 3px 8px 2px 8px;
}

#he-v1-nav li li {
clear: left;
width: 100%;
padding: 2px 0 4px 0;
color: #ffc;
font-size: 11px;
background: #026 url(/images/as/sub_dot.gif) bottom left repeat-x;
}

#he-v1-nav li li a {
display: inline;
color: #ffc;
font-size: 11px;
font-weight: normal;
border: 0;
padding: 2px 0 4px 8px;
}

#he-v1-nav li:hover ul , #he-v1-nav li.sfhover ul {
left: auto;
}

#he-v1-nav  li:hover ul.lastNav , #he-v1-nav li.sfhover ul.lastNav  {
left: 652px;
}

#he-v1-inav {
float: right;
width: 660px;
height: 54px;
margin: 0;
padding: 0;
}
#he-v1-inav ul {
list-style: none;
}

#he-v1-inav li{
float: left;
}

#he-v1-inav span{
/* visibility:hidden; */
display: none;
}


#he-v1-arama{
float: left;
display: block;

width: 420px;
margin: 0px;
padding: 2px 0px 0px 8px;
}
#he-v1-arama .selections {
	width: 120px;
	float: left;
	margin-top: 3px;
}
	
#he-v1-arama span{
font-weight: bold;
color: #fff;
}
.he-v1-radio{

margin: 0 5px 0 0;
padding: 0;
}



.he-v1-aramakutusu{
width: 160px;
margin: 0 0 0 10px;
border: 1px solid #036;
font-size: 13px;
background: #ffffff url(/images/as/input-bg.gif) repeat-x;
}

#he-v1-quicklinks{
float: right;
width: 375px;
margin: 4px 5px 0 0;
background-color: #69c;
}
#he-v1-quicklinks_v1{
float: right;
width: 395px;
margin: 0;
padding:0 5px 0 0;
}

#he-v1-quicklinks img, #he-v1-quicklinks_v1 img {
margin: 0 -5px 0 5px;
float: left;
}

#he-v1-quicklinks a img, #he-v1-quicklinks_v1 a img {
margin: 0 -5px 0 5px;
float: left;
}


#he-v1-quicklinks ul, #he-v1-quicklinks_v1 ul{
list-style: none;
}
#he-v1-quicklinks ul li{
float: right;
margin: 3px 0 0 0;
color: #036;
}

#he-v1-quicklinks_v1 ul li{
float: right;
margin: 5px 0 0 0;
color: #036;
}

#he-v1-quicklinks ul li a, #he-v1-quicklinks_v1 ul li a{
font-weight: bold;
color: #fff;
padding: 0 8px;
}

#he-v1-img{
margin: 0;
float: right;
}

#he-v1-shadow{
background: url(/images/as/header-shadow.gif) repeat-x;
line-height: 8px;
}

#he-v1-shadow_v1{
clear:both;
background: url(/images/as/header-shadow.gif) #fff repeat-x;
line-height: 8px;
}
#he-v1-bottom{
clear:both;
margin:0;
padding:0 0 2px;
border-top:1px solid #9cf;
overflow:hidden;
background:#6699cc;
height:24px;
}

html>body #he-v1-bottom {
height:auto;
min-height:23px;
}


#pfad {
width: 100%;
height: 26px;
background: #333 url(/images/as/pfad_bg.gif) repeat-x;
overflow:hidden;
}

#pfad p {float: left; color:#fff; padding:7px 0px 0px 8px;}
#pfad a {color:#fff;}
#pfad .pfeil {float: left; color:#fff; padding:6px 0px 0px 8px;}
#pfad .pfeil img { margin-top: 5px; }
#pfad .icon {float: left;}

#content {
	float: left;
	width: 828px;
	color: #fff;
}

.ust {
	clear: both;
	width: 820px;
	position: relative;
	left: 5px;
	float: left;
	background-color: #fff;
}

.ust h1 {
	font-family: Arial, Geneva, sans-serif;
	font-weight: bold;
	font-size: 16pt;
	color: #c00;
	letter-spacing: -1pt;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 20px;

}


.altc-sol {
	clear: both;
	left: 5px;
	width: 468px;
	position: relative;
	float: left;
	background-color: #fff;
}

.altc-sol h1 {
	clear: both;
	font-family: Segoe UI, Arial, Geneva, sans-serif;
	font-weight: bold;
	font-size: 16pt;
	color: #c00;
	letter-spacing: -1px;
	padding-bottom: 10px;
	padding-left: 5px;
		
}
.altc-sol h4 {
	clear: both;
	font-family: Arial, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	color: #0af;
	letter-spacing: -1px;
	padding-left: 5px;
}

.altc-sag {
	width: 340px; 
	position: relative;
	float: right;
}



.col340-ri { position: relative; 
	/* background-color: #fff; */ 
	float: right; 
	width: 340px; 
	margin: 10px 0 20px 0; 
}

.col340-ri h2 {
clear: both;
font-size:12px;
font-weight:bold;
padding:0 8px 0.8em;
background: url(/images/as/teaser-tab-bg.gif) repeat-x left bottom;
}


.col340-ri h2 a {
font-size: 12px;
color: #000;
}

/* bullet-listen */

.col340-ri .bullet, .col340-ri .bullet-red, .altc-sol .bullet, .altc-sol .bullet-red {
padding: 0 4px 0 2px;
margin:8px 0 16px 0;
font-size: 11px;
position: relative;
}

.col340-ri .bullet ul, .altc-sol .bullet ul, .altc-sol .bullet-red ul, .col340-ri .bullet-red ul{
list-style-type: none;
margin: 0;
padding: 0;
}

.col340-ri .bullet li, .altc-sol .bullet li {
padding: 0 0px 4px 8px;
background: url('/images/as/arrow_hellblue.gif') 0 3px no-repeat;
}

.col340-ri .bullet-red li, .altc-sol .bullet-red li {
padding: 0px 0px 4px 8px;
background: url(/images/as/arrow_red.gif) 0px 3px no-repeat;
}

.col340-ri .bullet a, .altc-sol .bullet a, .altc-sol .bullet-red a, .col340-ri .bullet-red a, .col340-ri .bullet a:hover {
font-size: 11px;
}
.col340-ri .bullet span, .altc-sol .bullet span, .altc-sol .bullet-red span, .col340-ri .bullet-red span {
font-size: 11px;
color:#036;
font-weight:bold;
}
.col340-ri .bullet-img{
float:left;
margin:6px 10px 20px 8px;
}

.altc-sol .bullet li { margin: 0 0 10px 0; }

.col340-ri .sub {
font-size: 11px;
font-weight: bold;
color: #036;
height: 16px;
background-color: #ddeeff;
margin:0;
margin-bottom: 4px;
padding:0 4px 6px 8px;
}

.t1table, .t2table { border: 1px solid #aaaaaa; }


.t2baslik, .t2altbaslik, .t2alt1, .t2alt2, .t2baslik a, .t2altbaslik a, .t2alt1 a, .t2alt2 a { font-family: tahoma; font-size: 11px; }
.t1baslik, .t1alt1, .t1alt2, .t1altbaslik, .t1baslik a, .t1alt1 a, .t1alt2 a, .t1altbaslik a { font-family: verdana; font-size: 10px; }
.t1baslik { font-size: 9px; background: #003366; color: #ffffff;  padding: 4px 0 4px 4px; font-weight: bold; letter-spacing: 1pt; width: 300px; }
.t2baslik { background: #336699; color: #ffffff;  padding: 4px 0 4px 4px; font-weight: bold; letter-spacing: 2px; width: 300px; }

.t1altbaslik { background: #336699; color: #ffffff; padding: 2px 4px 2px 4px; font-weight: bold; vertical-align: middle; }
.t2altbaslik { background: #538ed5; color: #ffffff; padding: 2px 4px 2px 4px; font-weight: bold; vertical-align: bottom; }

.t1alt1 { background: #ddeeff; color: #000000;  padding: 4px 4px 4px 4px;  vertical-align: middle; }
.t1alt2 { background: #ffffff; color: #000000;  padding: 4px 4px 4px 4px; vertical-align: middle; }
.t2alt1 { background: #dbeef3; color: #000000; padding: 4px 4px 4px 4px;  vertical-align: middle; }
.t2alt2 { background: #ffffff; color: #000000; padding: 4px 4px 4px 4px;  vertical-align: middle; }


/* content-image styles (bp) */
.content_image {
clear: right;
background-color: #fff;
margin:0px;
padding: 1px;
}

.content_image_left {
float: left;
padding-right: 1em;
}

.content_image_right {
float: right;
padding-left: 1em;
}

.content_image_center {
margin: 0px auto;
overflow: hidden;
}

.content_image .content_image_image {
float: left;
}

.content_image .content_image_caption {
margin: 0px 0px;
padding: 10px 0px;
width: 100%;
float: left;
clear: left;
}

.content_image .content_image_caption_no_bu {
padding: 0px 0px 5px;
}

.content_image .content_image_caption span {
   font-family:verdana, arial, helvetica, sans-serif;
   font-size:10px;
	color: #000;
	line-height: 13px;
}

.content_image .content_image_caption span a {
	font-family:verdana, arial, helvetica, sans-serif;
   font-size:10px;
   color: #000;
	line-height: 13px;
}
.content_image .content_image_caption span a:link, .content_image .content_image_caption span a:visited {text-decoration: none;}
.content_image .content_image_caption span a:hover {text-decoration: underline;}

.content_image .content_image_caption .content_image_magnifier {
float: right;
margin: 0px 0px 3px 3px;
}

.mgenel .w200 p a { color: #036; }

.mi-he { color: #000; }

.mi-he h1 {
clear:both;
padding: 0px 0px 8px 0px;
width: 463px;
color: #000;
font-size: 20px;
font-weight: bold;
background:url(/images/as/teaser-tab-bg.gif) repeat-x left bottom;
vertical-align: bottom;
}

.mi-rank {
float:left;
margin-bottom: 0px;
padding: 0px 0px 5px 0px;
margin: 0px -3px 0px 0px; /* bugfix ie */
}

.mi-rank-pic {
clear:both;
float: right;
margin:0 10px 0;
padding: 0px 0;
width:64px;
background:#fff;
border:1px solid #bbb;
}

.mi-rank-pic img{
display:block; padding: 0 10px 0 0;
}

.mi-rank-he{
float:left;
padding: 4px 0px 0px 8px;
margin: 0px 0px;
height:36px;
width: 222px;
font-size: 13px;
font-weight: bold;
color: #036;
background: url(/images/as/mi-rank-bg.gif) 0px 0px no-repeat;
}

.mi-rank-he a{
font-size: 13px;
font-weight: bold;
color: #036;
}

.mi-rank-le {
clear: both;
float:left;
width:230px;
padding: 0;
margin: 0 8px 0 0; 
color:#000;
}

.mi-rank-re {
float:left;
width:230px;
padding: 0;
margin: 0; 
color:#000;
}

.mi-rank1, .mi-rank2, .mi-rank3, .mi-rank4, .mi-rank5 {
position: relative; width: 222px; height:89px; margin-bottom: 4px;
} 

.mi-rank1 {background: url(/images/as/mi-rank-1.jpg) bottom left no-repeat;}
.mi-rank2 {background: url(/images/as/mi-rank-2.jpg) bottom left no-repeat;}
.mi-rank3 {background: url(/images/as/mi-rank-3.jpg) bottom left no-repeat;}
.mi-rank4 {background: url(/images/as/mi-rank-4.jpg) bottom left no-repeat;}
.mi-rank5 {background: url(/images/as/mi-rank-5.jpg) bottom left no-repeat;}

.rank-head {padding: 4px 0px 0px 6px; font-weight: bold;}
.rank-ps {
font-weight: bold;
left: 28px;
position: absolute;
top: 44px;
}

.deeplink-rank{
padding-right: 6px;
margin-bottom: 6px;
font-size:10px;
font-weight: bold;
}

.mi-teaser-le {
clear:both;
float:left;
margin: 0px 0px 0px 0px;
width: 227px;
padding:  0px 7px 16px 0px; 
}

.mi-teaser-le ul, .mi-teaser-re ul {
list-style-type: none; 
padding: 12px 0px 0px 0px; 
}

.mi-teaser-le li, .mi-teaser-re li {
padding: 2px 0px 8px 8px; background: url(/images/as/arrow_black.gif) 0px 5px no-repeat;
}
.mi-teaser-le li a { color: #000;  }

.mi-rub-re, .mi-teaser-re {
float:left;
margin: 0px -3px 0px 0px; /* bugfix ie */
width: 230px;
padding:  8px 0px 16px 7px;
}

.mi-st {
clear:both;
width: 468px;
}

.sub, p.sub {
clear: both;
font-size: 11px;
font-weight: bold;
color: #036;
height: 16px;
background-color: #ddeeff;
margin:0;
margin-bottom: 4px;
padding:0 4px 6px 8px;
}
.sub select { font-size: 10px; font-family: verdana, arial, helvetica; }

.col340-ri .bullet-partner {
padding:6px 0 6px 2px;
margin:0 0 16px;
}

.col340-ri .bullet-partner ul{
list-style: none;
margin: 0;
padding: 0;
}

.col340-ri .bullet-partner li{
float:left;
margin: 0 0 4px 4px;
padding: 0;
border:1px solid #8a8a8a;
}

.galeriliste { clear: both; font-size: 11px; line-height: 160%; margin:5px 5px 15px 5px; cursor: pointer; padding-bottom: 15px; }
.galeriliste span { font-size: 10px; }

.galeriliste h2, .galeriliste h2 a { font-size: 12px; padding: 6px 0px 6px 0px;}
.galeriliste .imgstyle {
float:left;
margin:6px 15px 10px 0px;
width: 160px;
height: 120px;
border: 1px solid #dedede;
cursor: pointer;
}

.legend { clear: both;
float: right;
border: 1px solid #aaaaaa;
padding: 5px 5px 5px 5px;
margin: 5px 0 5px 0;
}

.legend ul { list-style: none;
margin: 0px;
padding: 0px;
}
.legend ul li { margin: 0 0 4px 0; padding: 4px 4px 4px 4px; }
.legend ul span { width: 15px; height: 15px; float: left; margin: 0 6px 0 0; }

.urunplus { clear: both;
padding: 5px 5px 5px 5px;
margin: 5px 0 5px 0;
}

.urunplus ul { list-style: none; margin: 0px; padding: 0px; }
.urunplus ul li { background: url('/images/as/urun_arti.gif') no-repeat 0 4px; padding: 4px 4px 4px 4px; }
.urunplus ul li.minus { background: url('/images/as/urun_eksi.gif') no-repeat 0 4px; padding: 4px 4px 4px 4px; }
.urunplus ul li span, .urunplus li.minus span { padding-left: 10px; }
.urunnavi { padding: 0px 0px 5px 5px; font-weight: bold; font-size: 11px; background: url(/images/as/urunnavi-bg.gif) #fff left top; width: 462px; line-height: normal; border-bottom-style: none;  margin: 10px 0 0 0; float: left;}
.urunnavi ul {
	padding: 0px 0px 0px 0px; margin: 0px; list-style-type: none; }
}
.urunnavi li {
	padding-right: 0px; display: inline; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
.urunnavi a {
	padding-right: 0px; padding-left: 2px; background: url(/images/as/urunnavi-l.gif) no-repeat left top; float: left; padding-bottom: 0px; margin: 0px 0px 8px; padding-top: 0px; text-decoration: none
}
.urunnavi a span {
	padding-right: 10px; display: block; padding-left: 8px; background: url(/images/as/urunnavi-r.gif) no-repeat right top; float: left; padding-bottom: 5px; color: #fff; padding-top: 5px
}
.urunnavi a span {
	float: none
}
.urunnavi a:hover span {
	color: #fff
}
.urunnavi a:hover {
	background-position: 0% -26px
}
.urunnavi a:hover span {
	background-position: 100% -26px
}
.urunnavi .active a span {
	background-position: 100% -52px; color: #000
}
.urunnavi .active a:hover span {
	background-position: 100% -52px; color: #000
}

.me-arama { padding: 0px; margin: 10px 0 20px 0px; }

.me-arama .icerik
{
	background: url('/images/as/maviarama.gif') #def bottom left repeat-x;
	padding: 0px 0px 5px 8px;
	position: relative;
}

.me-arama .icerik .aralikarama {
	clear: both;
	color: #000;
	font-size: 10px;
	margin-bottom: 5px;
}



.me-arama .icerik .aramabutonu {
	background-color: #dddddd;
	border: 1px outset #000000;
	color: #000000;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica;
}

.me-arama .icerik .aramainput
{
	border: 1px solid #c0c0c0;
	width: 300px;
}

.me-arama .icerik .aktuelle_angebote {
	padding-top: 2px;
	*padding-top: 0px;
}

.me-arama .icerik .formsubmit {
	padding-top: 5px;
}

.urun-arasonuc { padding: 10px 10px 10px 8px; clear: both; line-height: 140%; }
.urun-arasonuc a { font-size: 13px; }
.urun-arasonuc img { width: 64px; height: 64px; float: left; margin: 0 10px 0 0; }
.urun-arasonuc .trh { color: #060; }

.mi-top10-he {
clear:both;
height: 27px;
width: 460px;
font-size: 13px;
font-weight: bold;
color: #FFF;
padding: 16px 8px 0 0;
background: url(/images/as/top10_bg.gif) top left no-repeat;
text-align: right;
}

.mi-top10-content {
height: 40px;
font-weight: bold;
padding: 4px 0px 2px 12px;
background:#DEF;
}

.mi-top10-content ul {
float:left;
list-style-type: none; 
margin: 0px; 
padding: 0px 0px 0px 8px; 
}

.mi-top10-content li {
padding: 2px 0px 2px 14px; background: url(/images/as/top10_arrow.gif) 0px 3px no-repeat;
}

.mi-top10-content a {
color: #000;
}

.mi-top10-select {
clear:both;
height: 52px;
width: 456px;
font-weight: bold;
padding: 8px 0px 12px 12px;
background: url(/images/as/top10_select_bg.jpg) top left no-repeat;
}

.top10-tablo {
	clear: both;
	width: 810px;
	margin: 8px 0px 12px 8px;
	overflow-x: scroll;
}

.ico-nav-image {
	height: 54px;
}

.ico-nav-div {
	padding: 15px 10px 0px 0px;
	font:normal 20px/25px Arial, Helvetica, sans-serif; 
	color:#FFF; 
}

.mi-he-rub {
clear: both;
width:458px;
font-size:12px;
font-weight:bold;
padding:10px 0 0.8em 10px;
margin:0;
background:url(/images/as/teaser-tab-bg.gif) repeat-x left bottom;
}
 
.mi-he-rub a {
font-size:12px;
font-weight: bold;
color:#000;
}

.urun-ana-cover {
width: 466px;
}



.mi-rub-le {
clear:both;
float:left;
padding: 0px 7px 4px 0px;
width: 227px;
margin-bottom: 4px;
}

.mi-rub-re, .mi-teaser-re {
float:left;
margin: 0px -3px 0px 0px; /* Bugfix IE */
width: 220px;
padding:  0px 0px 16px 4px;
}

.urun-ara-le ul, .mi-rub-le ul, .mi-rub-re ul {
list-style-type: none; 
margin: 0px; 
padding: 4px 0px 0px 4px; 
}

.urun-ara-le li, .mi-rub-le li, .mi-rub-re li {
padding: 2px 0px 2px 8px; background: url(/images/as/arrow_red.gif) 0px 5px no-repeat;
}

.urun-ara-le, .mi-rub-le * span, .mi-rub-re * span  {color:#000;}

.urun-ara-le p, .mi-teaser-le p, .mi-teaser-re p, .mi-kat-le p, .mi-kat-re p, .mi-rub-le p, .mi-rub-re p{
padding-top: 6px;
}

.urun-ara-re {
	width: 220px; 
	float: right;
	padding: 5px 0px 0px 0px;
	
}



.urun-ara-re td.w200 { padding-bottom: 4px; }
.urun-ara-re td.w200 a { font-size: 12px; font-weight: bold;  }
.urun-ara-re td.w2002 { padding-bottom: 4px; }
.urun-ara-re td.w2002 a { font-size: 12px; font-weight: bold;  }
.urun-ara-re td.w200 a:link { color: #ce0000; font-size: 12px; font-weight: bold;  }
.urun-ara-re td.w200 a:visited { color: #ce0000; font-size: 12px; font-weight: bold;  }
.urun-ara-re td.w200 a:hover { color: #f00; font-size: 12px; font-weight: bold;  }
.urun-ara-re img { width: 64px; height: 64px; float: left; margin-right: 4px; }
.urun-ara-re td.usthaber { padding-bottom: 20px;  }


.urun-ara-le { float: left; width: 230px; padding: 5px 0px 0px 0px; }

.urun-ara-le li { width: 220px; clear: left; padding: 2px 0px 2px 8px; }
.urun-ara-le a { font-size: 10px; color: #000; }

.asil-arama {
	clear: both;
	width: 468px;
	background-color: #ddeeff;
}
.aramainput {
	width: 268px;

}
.aramaSonuclari {
	clear: both;
	padding: 10px 4px 10px 8px; 
}
.aramaSonuclari .srcMessage { line-height: 140%; font-size: 11px; padding: 0px 0px 0px 0px; }
.aramaSonuclari .srcLink { line-height: 140%; font-size: 10px; padding: 0 0 30px 0; color: #080; }
.aramaSonuclari .h2baslik, .aramaSonuclari .h2baslik a {
	font-size: 12px;
	line-height: 140%;
}
.aramaSonuclari .h2baslik a:hover { color: #369; text-decoration: underline; }

h1.h1blog, .h1blog a { font-family: Arial, Helvetica, Geneva; font-size: 16pt; color: #036; }

.ana-baslik-hdr { }

.blog-ana-tablo { margin-top: 8px; background: #F6F6F6; width: 220px; }
.blog-ana-hdr { background: #EFEFEF; font-weight: bold; }
.blognrm { background: #FAFAFA; vertical-align: middle; margin: 3px 0 0 0; cursor: pointer; }
.blognrm2 { background: #DEF; vertical-align: middle; margin: 3px 0 0 0; cursor: pointer; }
.blog-ana-tablo td img { width: 30px; height: 40px; margin: 3px 3px 3px 3px; }

.anketoyver {
	background-color: #eee;
	border: 1px outset #000000;
	color: #000000;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Geneva, sans-serif;
}

#footer-v1-nav {
clear: both;
background: url(/images/as/footer-navi-bg.gif) top left repeat-x;
}

#footer-wrapper{
width: 828px;
}

#footer-v1-nav{
clear:both;
height:28px;
color:#036;
padding: 0;
margin:0 0 16px 0;
}

#footer-v1-nav ul{
list-style-type: none;
margin: 0;
padding: 0;
}

#footer-v1-nav li{
float:left;
padding:6px 0 0 4px;
}

#footer-v1-nav a{
color:#036;
font-weight:bold;
}

#footer-v1-nav p{
background:#69C;
height:16px;
margin:2px 0 0 0;
padding:4px 0;
}

#footer-v1-nav p a{
color:#FFF;
padding:5px 10px 5px 16px;
background:url(/images/as/editor_arrow.gif) 8px 8px no-repeat;
}

#footer-v1-links{
margin: 6px 20px;
text-align: center;
}

#footer-v1 .credits {
	clear: both;
   color: #fff;
   font-size: 10px;
}


/* /Footer neu(v1) */

/* Footer */

#footer {
position: relative; top:0px; left:0px; width: 828px; min-height: 70px;
padding: 0px 0px 0px 0px;
margin: 0px 7px 7px 0px;
background-color: #fff;
clear: both;
background-repeat: repeat-x;
}

#footer .credits {
   color: #fff;
   font-size: 10px;
   width: 100%;
}



#balt728 { clear: both; width: 820px; text-align: center; }

.alttarih { font-family: Verdana, Arial; color: #aab; font-size: 9px; padding-bottom: 5px; }

.mi-forumv2-he {
clear:both;
height: 27px;
width: 460px;
font-size: 13px;
font-weight: bold;
color: #FFF;
padding: 16px 8px 0 0;
background: url(/images/as/forum_bg.gif) top left no-repeat;
text-align: right;
}

.mi-forumv2-content {
padding: 4px 4px 8px 4px;
height: 180px;
background: #DEF;
}

.fv2sag {
border: 0px solid #aaa;
width: 256px;
float: right;
background: #DEF;	
padding-bottom: 10px;
}

.mi-forumv2-content table {
	border-right: 1px solid #fff; 
 	padding: 0px 5px;
}
.mi-forumv2-content table td {
	padding: 2px 0px 2px 0px;
}
.mi-forumv2-content ul.forumf {
float:right;
width:256px;
margin:0px 6px 12px 6px;
}
* html .mi-forumv2-content ul.forumf {
margin:0px 6px 12px 3px;
}

.mi-forumv2-content ul.forumf h1, .mi-forumv2-content ul.forumf h2{
font-size:12px;
font-weight:bold;
border-bottom:1px solid #666;
padding-bottom:3px;
margin-bottom:8px;
}

.mi-forumv2-content ul.forumf li{
line-height:16px;
list-style-type:none
}


.mi-forumv2-content ul.forumf li a{
background:url(/images/as/arrow_midblue.gif) center left no-repeat;
padding-left:7px;
color: #000;

}

.mi-forumv2-content ul.forumf a.more, .fv2sag ul a.more{
float:right;
font-weight:bold;
padding-right:8px;
padding-top: 5px;
background-image:none;
}

.avatarwin {
	width: 115px;
	height: 112px;
	margin: 5px 5px 10px 5px;
}

.logininputf, .loginsubmitf, .tah3, .tah4 { font-family: Tahoma, Verdana, Arial, Geneva, sans-serif; font-size: 11px; }
.logininputf { width: 105px; }
.loginsubmitf { width: 70px; font-family: Tahoma, Verdana, Arial, Geneva, sans-serif; font-size: 11px; }

ul.forump {
margin:0px 6px 12px 4px;
list-style-type:none;
}

ul.forump li{
line-height:16px;
list-style-type:none;
}


ul.forump li a{
background:url(/images/as/arrow_midblue.gif) center left no-repeat;
padding-left:7px;
}


.mi-forumv2-select { 
clear:both;
height: 52px;
width: 456px;
padding: 8px 0px 12px 12px;
background: url(/images/as/forumalt_bg.gif) top left no-repeat;
}
.mi-forumv2-select ul { line-height: 16px; }
.mi-forumv2-select ul li { list-style-type: none; float: left; width: 112px; }
.mi-forumv2-select ul li a { font-size: 10px; font-weight: bold; }

.blogmp { clear: both; }
.blogmp ul { margin: 0px 0px 0px 0px; }
.blogmp ul li { cursor: hand; cursor: pointer; padding: 4px 0px 0px 0px; list-style-type: none; float: left; width: 220px; height: 48px; margin: 5px 0px 5px 8px; background: url(/images/as/blog_gradient.gif) 0px 0px; line-height: 14px; font-size: 11px; }
.blogmp ul li img { width: 30px height: 40px; margin: 0px 4px 4px 4px; }
.blogmp ul li .blogbaslik, .blogmp ul li .blogbaslik:hover { text-decoration: none; margin-top: 4px; font-size: 13px; font-family: Verdana, Arial, Helvetica; color: #069; }
.blogmp ul li:hover { background-position: 0px -48px; }

.hpqfrm { clear: both; background: url(/images/as/hpq-frm-tepe.gif) no-repeat; width: 440px; height: 34px; margin-top: 10px; margin-left: 10px; }
p.hpqfrmb, p.hpqfrmb a { padding-top: 13px; color: #000; font-weight: bold; padding-left: 20px; }

.hpqfrm2 { background: url(/images/as/hpq-frm-orta.gif) repeat-y; width: 440px; margin-left: 10px; }
.hpqfrm2 ul { padding-left: 12px; list-style-type: none; padding-top: 5px; padding-bottom: 5px; padding-right: 12px; }
.hpqfrm2 ul li {  color: #036; font-weight: bold;  } 

.hpqfrm3 { clear: both;background: url(/images/as/hpq-frm-alt.gif) repeat-y; width: 440px; height: 9px; margin-bottom: 20px; margin-left: 10px;}

.makaleyazi .quotebox { border: 1px dotted #aaa; margin-left: 5px; background-color: #f9f9f9; padding: 5px 5px 5px 5px; }
.makaleyazi .quoteboxhead { margin-left: 5px; }

.urun-v1-div { width: 453px; height: 470px; padding: 0px 10px 0px 5px; background: #DEF; }
.urun-v2-div { width: 218px; height: 140px; border: 1px solid #aaa; margin: 5px 0px 10px 0px; cursor: pointer; }
.urun-v2-div .ubosluk { height: 100px; width: 200px; }
.urun-v2-div .umain { background: url('/images/as/urun-bg.png'); height: 40px;  }
.urun-v2-div .umain .uyazi { color: #fff; font-size: 11px; padding: 5px 5px 0px 5px; }
.urun-v2-div .umain .uyazi a { font-size: 11px; font-weight: bold; text-decoration: none; color: #fc0; }
.urun-v2-div .ubosluk2 { height: 65px; width: 200px; }
.urun-v2-div .umain2 { background: url('/images/as/urun-bg.png'); height: 75px;  }
.urun-v2-div .umain2 .uyazi { color: #fff; font-size: 11px; padding: 5px 5px 0px 5px;  }
.urun-v2-div .umain2 .uyazi a { font-size: 11px; font-weight: bold; text-decoration: none; color: #fc0; }

.surmanset { width: 818px; background: #fff; margin: 0px 0px 0px 5px;  }
.surmanset .bullet-sm {

}

.surmanset ul{
list-style: none;
margin: 0;
padding: 0;
}

.surmanset li {
float:left;
margin: 0px 7px 8px 0px;
padding: 0;
}
.surmanset li.sonuc {
float:right;
margin: 0px 0px 8px 0px;

padding: 0;
}
.surmanset li a img, .surmanset li.sonuc a img { width: 266px; height: 64px; border:1px solid #8a8a8a;  }

.haberticker {
position: absolute;
top: 0;
left: 0;
width: 388px;
height: 25px;
padding: 7px 0 0 23px;
margin: 0 0 16px 0;
border: none;
}

.haberticker a#haberticker_back{
position: absolute;
top: 0;
left: 0;
width: 468px;
height: 25px;
background: url(/images/as/haberticker_bg.gif) top left no-repeat;
}

.haberticker a, .downloadticker a {
color:#036;
font-size: 12px;
}