* {
    margin:  0;
    padding: 0;
}
/*banner ayari*/
#header {
    background-image:  url(../images/banner.jpg);
    background-repeat: no-repeat;
    height:            120px;
	background-color:  #FFFFFF;
}


/* td, p, div ve tr içindeki yazilarin font ayarlari*/
td,p,div,tr {
    font-family: Tahoma,verdana,arial;
    font-size:   13px;
    color:       #666;
}
body {
    font-family: tahoma,verdana,arial;
    font-size:   12px;
    padding:     0px 0px 0px 0px;
    margin:      0px 0px 0px 0px;
	
}
/* Arkaplan rekn ve resim */
.all {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color:             #333;
    background-image:  url(../images/all.png);
    background-repeat: repeat-x;
	background-color: #a9a9a9;
}
/* ana sayfa genislik */
#wrapper {
    width:            950px;
    
}

#container {
    width: 100%;
}
.latestnews li {
    list-style-type: none;
}
.latestnews li a {
    border-bottom: 1px solid #666;
    display:       block;
}
.latestnews li a:hover {
}
.mostread li {
    list-style-type: none;
}
.mostread li a {
    border-bottom: 1px solid #666;
    display:       block;
}
.mostread li a:hover {
}
ul.latestnews li {
    padding:     2px 2px 5px 0px;
    margin-left: 0px;
    color:       #808080;
    width:       auto;
    text-align:  left;
}
.latestnews a:link {
    text-transform: capitalize;
    color:          #CCC;
}
.latestnews a:visited {
    color: #CCC;
}
.latestnews a:hover {
    color: #FF0000;
}
ul.mostread li {
    margin-left: 0px;
    color:       #808080;
    width:       auto;
    text-align:  left;
    padding:     2px 2px 5px 0px;
}
.mostread a:link {
    text-transform: capitalize;
    color:          #CCCCCC;
}
.mostread a:visited {
    color: #CCCCCC;
}
.mostread a:hover {
    color: #FF0000;
}

/* üst menü */
#topnav {
    margin-top:        108px;
    background-image:  url(../images/topnav_bg.png);
    background-repeat: repeat-x;
    height:            30px;
    width:             950px;
    float:             right;
}

#navlist {
    margin:  0px;
    padding: 0px 0px 0px 0px;
}
#navlist ul, #navlist li {
    display:         inline;
    list-style-type: none;
}
#navlist a:link, #navlist a:visited {
    padding:         8px 8px 8px 8px;
    float:           left;
    font-size:       11px;
    margin:          0px;
    text-decoration: none;
    color:           #FFFFFF;
}
#navlist a:link#current, #navlist a:visited#current, #navlist a:hover {
    color:             #FFFFFF;
    background-image:  url(../images/top_nav_active.png);
    background-repeat: repeat-x;
}
#navlist a:hover {
    color: #FFFFFF;
}

/* Ana tablo içi renk ve resim ayari */

#content {
    background-color:    #FFFFFF;
    padding:             2px;
    background-image:    url(../images/content_bg.png);
    background-repeat:   repeat-x;
    background-position: top;
}
/* tablo girdi degeri*/
#maincontent {
    margin-right: 0px;
}


#left {
    width: 100%;
}

#right {
    margin-right: 10px;
}
#bottom {
    padding:           10px;
   
    background-image:  url(../images/bottom_bg.png);
    background-repeat: repeat;
}
#bottom p{ 
    color: #FFFFFF;
    font-size:11px;
    

}

.contentpaneopen ul {
    margin-left: 10px;
}
.contentpane ul {
    margin-left: 10px;
}
table.contentpaneopen,table.contentpane {
}
table.contentpaneopen li {
    margin-left: 20px;
}.contentpaneopen td {
    padding:    0;
    text-align: left;
}
.contentpaneopen img {
    margin: 5px;
}

div.moduletable {
    font-size: 11px;
	margin-top: 30px;
}
div.moduletable td {
    text-align: left;
    font-size:  11px;
}
div.moduletable h3 {
    text-align:    left;
    margin-bottom: 8px;
    color:         #333333;
    font-size:     14px;
    font-weight:   bold;
}
#bottom div.moduletable h3 {
    margin-bottom: 8px;
    color: #FFFFFF;
    font-size:     14px;
    font-weight:   bold;
}

#footer{
margin-top:10px;
text-align : center;
}
#footer P{
color: #FFFFFF;
font-size:11px;
}
#footer a:link, #footer a:visited{
color: #FFFFFF;
}

/* Link Ayarlari */
a:link, a:visited, a:active {
    color:           #FF0000;
        text-decoration: none;
}
a:hover {
    color: #FF0000;
font-weight:     bold;
}


/* Ana Menü css ayarlari */
a.mainlevel:link, a.mainlevel:visited {
    display:             block;
    height:              18px;
    vertical-align:      middle;
    font-size:           12px;
    font-weight:         normal;
    text-align:          left;
    text-decoration:     none;
    text-transform:      capitalize;
    color:               #941D08;
    padding-top:         2px;
    background-image:    url(../images/menu_icon2.png);
    background-repeat: repeat-x;
    background-position: 5px;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
}

a.mainlevel:hover, a.mainlevel:active {
    text-decoration: none;
    color:           #F41400;
    font-weight:     bold;
}

.mainlevel {
    display:             block;
    height:              18px;
    width:150px;
    vertical-align:      middle;
    font-size:           12px;
    font-weight:         normal;
    text-align:          left;
    text-decoration:     none;
    text-transform:      capitalize;
    color:               #941D08;
    padding-top:         2px;
    background-image:    url(../images/menu_icon2.png);
    background-repeat: repeat-x;
    background-position: 5px;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
}
/* form ayari */
form {
    display: inline;
    margin:  0;
    padding: 0;

	
}
/* Sayfalandirma css */
.back_button a {
    padding:    2px 5px 2px 20px;
    text-align: center;
    display:    block;
}
.back_button a:hover {
    padding: 2px 5px 2px 20px;
    color:   #FF0000;
}
.pagenav {
    text-align:        center;
    color:             #ffffff;
    margin:            0px -2px 0px 0px;
    padding:           1px 6px 1px 6px;
    font-size:         11px;
    font-family:       arial,verdana,tahoma;
    background-color: #000000;
    background-image:  url(../images/btnlogin.gif);
    background-repeat: repeat-x;
    border:           1px solid #5d5d5d ;
}
a.pagenav, a.pagenav:visited {
    color: #ffffff;
    background-color: #000000;
    border:           1px solid #5d5d5d ;
}
a.pagenav:hover {
    color:            #ffffff;
    background-color: red;
    border:           1px solid #5d5d5d ;
}

/*Basliklarin gösterim kismi*/

#baslik {
    padding:    0px 0px 0px 0px;
    width:       180px;
    font-size:   11px;
    background:  url(../images/baslik.png) no-repeat ;
    color:       #F41400;
    font-family: tahoma;
    border:      none ;
    font-weight: bold;
    height:      25px;
}

.baslik2 {
	color:#FFFFFF;
    background-image:  url(../images/topnav_bg.png);
	
}
#baslik3 {
   background-image:  url(../images/top_nav_active.png);
	color:#FFFFFF;
}

/* Kategori ayarlari */
.submenu{
padding-left:10px;
}

/* digerleri */
h1 {
    color:       #666666;
    font-weight: normal;
    font-size:   20px;
}
ul {
}
li {
    margin-left: 20px;
}
img {
    border: none ;
}
ol {
    margin-left:         20px;
    list-style-position: inherit;
}
blockquote {
    margin: 10px;
}
blockquote div {
}
pre {
    padding: 10px;
}



.inputbox {
    font-size:  12px;
    border:     1px solid gray ;
    background: #FFFFFF ;
}
.button {
    padding:     1px;
    padding:     2px;
    color:       #FFFFFF;
    font-size:   11px;
    border:      none ;
    font-weight: bold;
    background:  #F41400 ;
}
.tablorenk1
{
	background: #ffcc66;
}
.tablorenk2
{
	background: #ffffff;
}
.tablorenk3
{
font-weight:bold;
background: #ffffff;
}
.tablorenk4
{
	background: #ffcc66;
	font-weight:bold;
}
ul.menu-fill,
ul.menu-fill ul {
	background: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.menu-fill li {
	background: none;
	padding: 0;
	margin: 0;
}

ul.menu-fill {
	border-top: 1px dotted #b3b3b3;
}

ul.menu-fill ul li {
	margin-left: 1em;
}

ul.menu-fill a:link, ul.menu-fill a:visited {
    display:             block;
    height:              18px;
    vertical-align:      middle;
    font-size:           12px;
    font-weight:         normal;
    text-align:          left;
    text-decoration:     none;
    text-transform:      capitalize;
    color:               #941D08;
    padding-top:         2px;
    background-image:    url(../images/menu_icon2.png);
    background-repeat: repeat-x;
    background-position: 5px;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
}

ul.menu-fill a:hover {
	background-color: #d9d9d9;
	color: #000000;
}