/* all reset,layout */
* {
    margin:  0;
    padding: 0;
}
td,p,div,tr {
    font-family: Tahoma,verdana,arial;
    font-size:   13px;
}
body {
    font-family: tahoma,verdana,arial;
    font-size:   12px;
    padding:     0px 0px 0px 0px;
    margin:      0px 0px 0px 0px;
}
a:link, a:visited, a:active {
    color:           #000000;
    text-decoration: none;
}


a:hover {
color: #ffffff;
}

.inputbox {
    font-size:  12px;
    border:     1px solid gray ;
    background: #efefef ;
	height:25;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.inputbox2 {
    font-size:  11px;
    border:     1px solid gray ;
    background: #efefef ;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.button {
    padding:     1px;
    padding:     2px;
    color:       #FFFFFF;
    font-size:   11px;
    border:      none ;
    font-weight: bold;
    background:  #F41400 ;
}

.style2 {
	color: #FFFFFF;
	font-weight: bold;
}
.style3 {
	color: #000000;
	font-weight: bold;
}
.style4 {color: #FFFFFF}

/* Kategori ayarlari */
.submenu{
padding-left:10px;
}
